

<h1><%= @listing.property_name %></h1>
<h3>Current Details:</h3>

<tr>
    <td><%="Name: #{@listing.property_name}"%></td><br>
    <td><%="Description: #{@listing.property_description}" %></td><br>
    <td><%="Location: #{@listing.city}, #{@listing.country}"%></td><br>
	<td><%="Max Guests: #{@listing.max_guest_number}" %></td><br><br>
	<td><b><%="Price Per Night: $#{@listing.price}" %></b></td><br><br><br>
<tr>

<h3>Enter new details:</h3>


<%= form_with scope: :listings, url: listing_path(@listing), method: :put, local: true do |form| %>

    <p>
      <%= form.label :update_name %><br>
  	  <%= form.text_field :property_name, value: "#{@listing.property_name}" %>
  	</p>
  	<p>
  	  <%= form.label :update_description %><br>
	  <%= form.text_field :property_description, value: "#{@listing.property_description}" %>
	</p>
	  <%= form.label :Update_max_guests %><br>
	  <%= form.select :max_guest_number, (0..20), defaultValue: "#{@listing.max_guest_number}" %>
	</p>
	<p>
	  <%= form.label :Update_price_per_night %><br>
	  <%= form.number_field :price, value: "#{@listing.price}" %>
	</p>
		<p>
	
	<%= form.label :edit_amenities %><br>
		
        <% @current_amenities.each do |amen|%>
		       
            <%= form.label amen %>
			<%= form.check_box :amenities, {multiple: true, checked: true}, amen.to_s, amen %>       
        <% end %>

		<% @amenities.each do |amen|%>
		       
	         <%= form.label amen %>
		     <%= form.check_box :amenities, {multiple: true}, amen.to_s, nil%>
               
         <% end %>

			
     </br>
	</p>		
		
	<p>
    <%= form.submit "Update Listing", data: { turbolinks: false } %><br>
<!-- NOTE ON: data: { turbolinks: false } -With the new form_for, it is an auto ajax form meaning that it will only check and update CHANGES in the form, as opposed to updating the whole thing. This is what what causing my fields to be loaded twice and persist, despite clernig the array each tiem around. READ MORE ABOUT THIS -->
	</p>

<% end %>

<%= button_to ("Delete Listing"), destroy_listing_path, method: :delete %></br></br>
