<h1>CURRENT LISTINGS</h1>


<!-- INITIAL FORM FOR THOSE ENTERING THE PAGE FIRST -->

<% if @filtered == true %>

      <%= form_with scope: :filter, url: filter_listings_path, local: true do |form| %>
          <p>
          <%= form.select :guest_number, (0..20), :selected => @guests %>
          <%= form.select(:city, ['Search All', 'London', 'New York', 'Los Angeles'], :selected => @city)%>
          <%= form.label :Minimum_price_per_night%>
          <%= form.number_field :min_price, :value => @min_price, :class => "filter-element"  %>
          <%= form.label :Maximum_price_per_night%>
          <%= form.number_field :max_price, :value => @max_price, :class => "filter-element"    %>

          <%= form.submit "Filter Results" %>
        </p>
      <% end %> 

<% else %> 



<!--FORM IF ENTERING THE INDEX AFTER FILTERING-->

      <%= form_with scope: :filter, url: filter_listings_path, local: true do |form| %>
          <p>
          <%= form.select :guest_number, (0..20), {:prompt => "Guest Number"} %>
          <%= form.select(:city, ['Search All', 'London', 'New York', 'Los Angeles'], {:prompt => "Select City"})%>
          <%= form.label :Minimum_price_per_night%>
          <%= form.number_field :min_price, :value => 0, :class => "filter-element"  %>
          <%= form.label :Maximum_price_per_night%>
          <%= form.number_field :max_price, :value => 1000, :class => "filter-element"    %>

          <%= form.submit "Filter Results" %>
        </p>
      <% end %> 

<% end %> 


<!-- DISPLAYS CURRENTLY SELECTED FIELDS IF @FILTERED VIEW -->

<% if @filtered == true %>
<p><%= "Filtering by City: #{@city}, Guest Number: #{@guests} "%></p>
 <%= link_to "Clear Filters", listings_path, class: "btn btn-primary btn-sm" %><br><br>
<% end %>  


<div class="card-group">

  <% @listings.each do |listing| %>
<!-- BOOTSTRAP CARD -->
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%= listing.images[0] %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= listing.property_name %></h5>
    <p class="card-text"><%= "#{listing.city}, #{listing.country} "%></p>
    <p class="card-text"><%= listing.property_description %></p>
    <p class="card-text"><%= "Per Night: $ #{listing.price} "%></p>
    <%= link_to "View Listing", listing_path(listing), class: "btn btn-primary" %>
  </div>
</div>


  <% end %></br>
  </div></br>

<%= will_paginate @posts %>