 
<h1><%= @listing.property_name %></h1>

 <tr>
      <td><%= @listing.property_description %></td></br>
      <td><%= @listing.max_guest_number %></td></br>
      <td><%= @listing.country %></td></br>
      <td><%= @listing.city %></td></br>
      <td>$<%= @listing.price %></td>
 </tr>