<h1><%= "Welcome, #{@user.first_name}" %></h1>
  <img class="avatar"><%= image_tag @user.avatar.url(:thumb) %></img></br></br>


<!-- BLOCK DISPLAYS USER LISTED PROPERTIES -->
<h3>Your Listed Properties:</h3>
  
  <% @listings.each do |listing| %>

  <%= link_to listing.property_name, listing_path(listing) %></br>

  <% end %></br>
<%= button_to 'List a new property', "/listings/new", method: :get %></td></br></br>


<!-- BLOCK DISPLAYS USER PERSONAL RESERVATIONS -->
<h3>Your Reservations:</h3></br>


    <% @user.reservations.each do |reservation| %>
     <tr>
        <td>Name: <%= reservation.listing.property_name %></td></br>
        <td>Location: <%= "#{reservation.listing.city}, #{reservation.listing.country} "%></td></br>
        <td>From: <%= reservation.start_date %></td></br>
        <td>To: <%= reservation.end_date %></td></br>
        <td><%= link_to 'View Booking', reservation_path(reservation) %></td></br></br>
      <tr>

  else

  <% end %>