

<h3><%= "Reserve #{@listing.property_name}" %></h3>


<%= form_with scope: :reservations, url: listing_reservations_path, local: true do |form| %>
    <p>
      <%= form.label :start_date %><br>
  	  <%= form.date_field :start_date%>
  	</p>
  	<p>
      <%= form.label :end_date %><br>
  	  <%= form.date_field :end_date%>
  	</p>
    
    <p>
	  <%= form.submit "Place Reservation" %>
	</p>
<% end %>

<!-- FLASH MESSAGE GENERATOR - IF THEIR DATE PICK FAILS -->
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


