

<!-- FLASH MESSAGE GENERATOR - IF THEIR DATE PICK FAILS -->
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %></br>

  
<h3><%=" Your booking details for: #{@reservation.listing.property_name} "%></h3></br>

 <tr>
      <td>From: <%= @reservation.start_date  %></td></br>
      <td>Until: <%= @reservation.end_date  %></td></br>
      <td>Capacity: <%= @reservation.listing.max_guest_number %> pax</td></br>
      <td>Price Per Night: $<%= @reservation.listing.price %></td></br>
      <td>Contry: <%= @reservation.listing.country %></td></br>
      <td>City: <%= @reservation.listing.city %></td></br>
 </tr></br>

 <%= link_to ("View Property Details"), listing_path(@reservation.listing) %></br>
 <%= link_to ("Delete Booking"), destroy_reservation_path, method: :delete %>

